<section>

  <%= form_for @task do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  </br>
  </br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  </br>
  </br>
  <%= f.label :completed_at %>
  <%= f.date_field :completed_at %>
  </br>
  </br>
  <%= f.submit button_text %>

  <% end %>
</section>
