<%= form_for @task do |f| %>

  <ul>
    <li>
      <%= f.label :title %>:
      <%= f.text_field :title %>
    </li>

    <li>
      <%= f.label :description %>:
      <%= f.text_area :description, width: "auto" %>
    </li>

    <li>
      <%= f.label :due %>:
      <%= f.date_field :due %>
    </li>

    <li>
      <%= f.label :priority %>:
      <%= f.text_field :priority %>
    </li>

    <li>
      <%= f.submit "save" %>
    </li>
  </ul>

<% end %>
