<section>
  <%= form_for @task do |f| %>

  Name:<%= f.text_field :name%>
  Deadline: <%= f.text_field :deadline%>
  <%= f.submit value: "#{submit_text}"%>
  <% end %>



  <%=link_to "Return Home", tasks_path%>
</section>
