<%= form_for @task do |f| %>

  <ul id="input-form">
    <li>
      <%= f.label :title %>:
      <%= f.text_field :title %>
    </li>

    <li>
      <%= f.label :due %>:
      <%= f.date_field :due %>
    </li>

    <li>
      <%= f.label :priority %>:
      <%= f.text_field :priority %>
    </li>

    <li>
      <%= f.label :description %>:
    </li>
    <li>
      <%= f.text_area :description, size: "60x12" %>
    </li>

    <li>
      <%= f.submit "save" %>
    </li>
  </ul>

  <h3 id="cancel-button"><%= button_to "cancel", tasks_path, method: :get %></h3>


<% end %>
