<section id="task-form">
  <%= form_for @task do | t | %>
    <%= t.label :name %>
    <%= t.text_field :name, size: "100%", class: "form-field"  %>

    <%= t.label :description %>
    <%= t.text_area :description, size: "100% x 5", class: "form-field" %>

    <%= t.label :status %>
    <section class="radio-button-option">
      <%= t.radio_button :status, 'incomplete' %>
      <%= label :status, 'Incomplete', id: "radio-button-label" %>
    </section>
    <section class="radio-button-option">
      <%= t.radio_button :status, 'complete' %>
      <%= label :status, 'Complete', id: "radio-button-label" %>
    </section>

    <%= button_tag(type: 'submit', class: "button") do %>
      <i class="fa fa-save"></i>&ensp;Save Changes
    <% end %>

  <% end %>
</section>
