<section>
  <%= form_for @task do |tsk| %>
  <%= tsk.label :name %>
  <%= tsk.text_field :name  %>
  <%= tsk.label :chore %>
  <%= tsk.text_field :chore%>

  <%= tsk.label :completed %>
  <%= tsk.text_field :completed %>
  <%= tsk.submit value: 'Submit'%>

  <% end %>

</section>
