<div id=edit_form>
  <%= form_for @task do |f| %>
  <ul>
    <h3>
      <li>
        <%= f.label :name, "Task name"  %>
      </li>
    </h3>
    <li>
      <%= f.text_field :name, class: "field" %>
    </li>
    <h3>
      <li>
        <%= f.label :description %>
      </li>
    </h3>
    <li>
      <%= f.text_area :description, size: "20x5" %>
    </li>
    <h3>
      <li>
        <%= f.label :completion_date, "Task Due Date" %>
      </li>
    </h3>
    <li>
      <%= f.datetime_field :completion_date, class: "field"%>
    </li>
    <h3>
      <li>
        <%= f.label :completed, "Completed" %>
        <%= f.check_box :completed, class: "field"%>
      </li>
    </h3>
    <li>
      <%= f.submit nil, class: "field" %>
    </li>
    <% end %>
