
<!-- the only way our html can interate with controller - who can then
talk to model who can create a new entry -->
<!-- is be including this code below - you will be copy and pasting it :) -->
<!-- line below first to understand:
going to send a post (HTTP verb) to /books (the URL) the controller action will
be #new (will have to create a new route soon) - so far only been doing get (HTTP verb) -->
<header>
  <h1>Get It Done</h1>
</header>

<main>
  <%= form_for @task do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :complete_by %>
    <%= f.datetime_local_field :complete_by %>

    <%= f.submit %>
  <% end %>
</main>


<footer>
  <!-- using a view helper instead of html -->
  <%= link_to "Home", "/tasks" %>
  <!-- <a href='./'>Home</a> -->
</footer>
