<h1>Edit a Task</h1>

<%= form_for @task do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit value: "Update Task" %>
<% end %>

<p><%= link_to "Go Back to Task", task_path %></p>
<p><%= link_to "Go Back to the Task List", tasks_path %></p>
