<%= render partial: "header", locals: {zone: @zone} %>

<body>
  <h3>editing: "<%= @task.title %>"</h3>

  <%= render partial: "form", locals: {zone: @zone} %>

  <%= button_to "cancel", tasks_path, method: :get %>

</body>

<%= render partial: "footer", locals: {zone: @zone} %>
