<h1>Emma's Tasks</h1>

<h2>To do list before trip!</h2>

<main>
  <section>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <%= task[:name] %>: <%= task[:description] %> <%= task[:completed_at] %> <%= task.description %> | <%= link_to "Complete", complete_task_path(task), method: :put %> <%= render partial: "task_summary", locals: { task: task} %> 

  </li>
  <% end %>
</ul>
</section>

<section>
<ul id="links">
  <li>
    <%= link_to "go back to the homepage", welcome_path, alt: "this is a link!", class: "link", id: "go-home-link" %>
  </li>
  <li>
    <%= link_to "Add a new task", new_task_path %>
  </li>
</ul>
</section>
</main>
