<h1> List of Tasks </h1>

<ul>
  <% @tasks.each do |task| %>
  <li class="task_list">
      <% if task.completed_at.nil? %>
      <%= button_to " ", complete_task_path(task), method: :patch %>
      <% else %>
      <%= button_to "✔︎", complete_task_path(task), method: :patch %>
      <% end %>

      <%= link_to task.name, task_path(task.id) %>
    <!-- <%= button_to "Done", task_path(task.id), method: :complete %> -->
  </li>
  <% end %>
</ul>

<%= button_to "Add", new_task_path, method: :get %>
