

<main id = "index_main">

  <section id = "index_section_1">
    <h1 id = "index_h1"> Tasks list</h1>
    <div id = "index_add_button">
      <%= link_to image_tag("new_task_button.jpg", alt: "New task button", height: "50px"), new_task_path, id: "new_task_button" %>
    </div>
  </section>



  <nav id = "index_nav">
    <ul>
      <% @tasks.each_with_index do |task| %>
        <li>
          <p>
            Task <%= task.id%>
          </p>

          <li id = "index_task_info">
            <%= link_to task[:name], task_path(task.id) %>
            <%= task[:description] %>
            <%= task[:completion_date] %>
          </li>
          <li id = "index_action_buttons">
            <%= link_to "Edit task", edit_task_path(task) %>
            <%= link_to "Completed", status_path(task), method: :patch %>
            <%= link_to "Delete", task_path(task),
                  data: {method: :delete, confirm: "Are you sure you want to delete the task #{task.name}"}%>
            <!-- <%###################= button_to "Delete", task_path(task), method: :delete%>  -->
            <!-- If the method is not specified the default is GET -->
          </li>
        </li>
      <% end %>
    </ul>
  </nav>

  <!-- <%################= link_to "Add new task", new_task_path %> -->



</main>
