
<header>
  <!-- example of using image view helper -->
  <%= image_tag "https://openclipart.org/download/253846/1467299975.svg", alt: "image of check_mark" %>
  <!--<img src="https://openclipart.org/download/253846/1467299975.svg"> -->
  <h1>Task List</h1>
</header>
<!-- <p>Find me in app/views/tasks/index.html.erb</p> -->

<main>
  <nav>
    <p><%= link_to "Add New Task", new_task_path %></p>
  </nav>

  <section>

    <% @tasks.each_with_index do |task, index| %>
      <div><p>Todo <%=index +1%>:
        <p id="task_title"><%= link_to task[:name].capitalize, task_path(task.id) %></p>
        <p><%= link_to "Completed", completed_task_path(task), method: :patch %>
        <p><%= link_to "Edit Task", edit_task_path(task) %></p>
        <p><%= link_to "Delete Task", task_path(task), method: :delete, data: { confirm: "You sure?" } %></p>
      </div>
    <% end %></p>

  </section>
</main>

<footer>
</footer>
