<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <% if task.completed %>
      <li class="completed">
        <%= link_to task.name, task_path(task.id) %>
        <%=
          link_to "undo", toggle_complete_path(task.id),
          method: :patch,
          class: "complete_button"
        %>
      </li>
    <% else %>
      <li>
        <%= link_to task.name, task_path(task.id) %>
        <%=
          link_to "mark completed", toggle_complete_path(task.id),
          method: :patch,
          class: "complete_button"
        %>
      </li>
    <% end %>
  <% end %>
</ul>

<p>
  <%= link_to "Add New Task", new_task_path %>
</p>
