<h1>ToDo</h1>

<%= link_to 'New', new_task_path, class:"button"%>


<ul>
    <% @tasks. each do |task|  %>
    <li>
        <p>
            <h2 class='task_list'><%= link_to task.name, task_path(task.id), class:'task_list' %>:</h2>
            <span id="arrow">
                ↳
            </span>
            <p class="list_description">
                <%= task.description %>
            </p>
        </p>


        <span>
            <div id="main_complete">
                <% if task.date == nil %>
                <p>
                    <%= link_to '◯', complete_task_path(task.id),
                    data: { confirm: "Have you really completed this task?"},
                    method: :patch, class:'control_button' %>
                </p>
                <p class='control_button_text'>ToDo</p>
                <% else %>
                <p id="completed_icon">
                    ⃠
                </p>
                <p class='control_button_text'>
                    Done
                </p>
                <% end %>
            </div>

            <div id="main_delete">
                <%= link_to 'Ⓧ', delete_task_path(task.id),
                data: { confirm: "Do you really mean to delete this task?"},
                method: :delete, class: 'control_button'%>
                <p class='control_button_text'>Delete</p>
            </div>
        </span>
    </li>
    <% end %>
</ul>

<footer>
        ©Alison Zerbe 2017
</footer>
