
<main>
<h1>All the tasks</h1>

<%= link_to 'Click to add new task', new_task_path %>

<ul>
  <% @tasks.each do |task| %>
  <article>
    <li>
      <p><%= link_to task[:name], task_path(task[:id]) %></p>
      <span>
        <%- if task[:completed_at].nil? %>
      <%= link_to "Mark as Complete", complete_task_path(task[:id]), :method => :patch %>
      <%- else %>
      <%= link_to "Mark Incomplete", incomplete_task_path(task[:id]), :method => :patch %>
      <%-end%>
      	●	●
      <%= link_to 'Delete', task_path(task[:id]), data: {:confirm => 'You sure?'}, :method => :delete%>
    </span>
      <p>Description: <%= task[:description] %></p>
      <%= task[:completed_at].nil? ? "Incomplete Task" : "Completed Time: #{task[:completed_at]}" %>
    </li>
    <% end %>
  </article>
</ul>

</main>
