

<header>
  <h1>Tasks for this week</h1>
</header>

<section class="task_list">
  <ul>
    <% @tasks.each do |task| %>
      <li class="task">
        <%= link_to task.name, task_path(task.id) %>
        <%= link_to "[mark complete]", complete_task_path(task.id) %>
        <%= link_to "[delete]", delete_task_path(task.id),
        data: {confirm: "Delete this task?"},
        method: :delete %>
        <%= task.date_complete %>
      </li>

    <% end %>
  </ul>
</section>

<footer class="task_list_footer">
  <p>
    <%= link_to "[add a new task]", new_task_path %>
  </p>
</footer>
