

<main id = "index_main">

  <h1> Tasks list</h1>

  <nav>
    <ul>
      <% @tasks.each_with_index do |task| %>
        <li>
          <%= link_to task[:name], task_path(task.id) %>
          <%= ":    "%>
          <%= task[:description] %>
          <%= "/    "%>
          <%= task[:completion_date] %>


          <%= link_to "Edit task", edit_task_path(task) %>
          <%= link_to "Completed", task_completed_path(task), method: :patch %>
          <%= link_to "Delete", task_path(task),
                data: {method: :delete, confirm: "Are you sure you want to delete the task #{task.name}"}%>
          <!-- <%###################= button_to "Delete", task_path(task), method: :delete%>  -->
          <!-- If the method is not specified the default is GET -->
        </li>
      <% end %>
    </ul>
  </nav>

  <!-- <%################= link_to "Add new task", new_task_path %> -->

  <%= link_to image_tag("new_task_button.jpg", alt: "New task button", height: "100px"), new_task_path, id: "new_task_button" %>

</main>
