<h1>All My Tasks</h1>

<article class="main-list">

  <h2>Don't Forget!</h2>

  <% @tasks.each do |task| %>

      <section class="
        <% if task.completion_date == nil %>
          <%= "incomplete" %>
        <% else %>
          <%= "complete" %>
        <% end %>" />

        <h3>
          <%= link_to task.name, task_path(task.id) %>
        </h3>

        <p>
          <% if task.completion_date == nil %>
            <%= form_for task do |f| %>
              <%= f.submit "Mark Complete" %>
            <% end %>
          <% end %>

          <% if task.completion_date != nil %>
              <%= link_to "Delete", delete_task_path(task.id), method: :delete, data: { confirm: "Are you sure?"} %>
          <% end %>
        </p>
      </section>

    <% end %>

</article>

<%= link_to "Create New Task", new_task_path, class: "bottom-button" %>
