<h1>Awesome To Do List</h1>
 <ul>
   <% @tasks.each do |task| %>
    <h3><%= task.name %></h3>
    <li>ID: <%= task.id %></li>
    <li>Description: <%= task.description %></li>
    <li>Completion Date: <%= task.completion_date %></li>
    <li>Completed: <%= task.completed %></li>
   <% end %>
 </ul>
