

<main id = "index_main">

  <h1> Tasks list</h1>

  <nav>
    <ul>
      <% @tasks.each_with_index do |task| %>
        <li>
          <%= link_to task[:name], task_path(task.id) %>
          <%= ":    "%>
          <%= task[:description] %>
        </li>
      <% end %>
    </ul>
  </nav>


  <!-- <%= link_to "Add new task", new_task_path %> -->

  <%= link_to image_tag("new_task_button.jpg", alt: "New task button", height: "100px"), new_task_path, id: "new_task_button" %>

  <!-- <%= image_tag 'ducks.jpg', alt: 'The canal ducks' , width: '75%' %>
  <%= link_to image_tag("crew.jpg", alt: "The crew", width: "75%"), "http://www.google.com" %> -->


</main>





<!-- <% 10.times do %>
  <p>
    This will be there 10 times
  </p>
<% end %> -->
