

<main id = "index_main">

  <section id = "index_section_1">
    <h1 id = "index_h1"> Tasks list</h1>
    <div id = "index_add_button">
      <%= link_to image_tag("add1.png", alt: "New task button", height: "50px"), new_task_path, id: "new_task_button" %>
    </div>
  </section>



  <nav id = "index_nav">
    <ul>
      <% @tasks.each_with_index do |task| %>
        <li>
          <div id = "index_task_id">
            Task <%= task.id%>
          </div>
          <div id = "index_task_name">
            <%= link_to task[:name], task_path(task.id) %>
          </div>
          <div id = "index_task_description">
            <%= task[:description] %>
            <%= task[:completion_date] %>
          </div>
          <div id = "index_action_buttons">
            <p>
              <%= task.id%>>
              <!-- <%###= link_to task.status_info, status_path(task), method: :patch %> -->
              <!-- <%###= link_to task.status_info[0], status_path(task), task.status_info[1] %> -->
            </p>
            <div>
              <%= link_to image_tag(task.status_info[0], alt: "Status buttom", height: "30px", class: "button"), status_path(task), task.status_info[1] %>
              <%= link_to image_tag("edit1.png", alt: "Edit buttom", height: "30px", class: "button"), edit_task_path(task) %>
              <%= link_to image_tag("delete1.png", alt: "Delete buttom", height: "30px", class: "button"), task_path(task),
                  data: {method: :delete, confirm: "Are you sure you want to delete the task #{task.name}"}%>
            <!-- <%###################= button_to "Delete", task_path(task), method: :delete%>  -->
            <!-- If the method is not specified the default is GET -->
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </nav>

  <!-- <%################= link_to "Add new task", new_task_path %> -->



</main>
