<h1>Add a new task:</h1>
<%= form_for @task do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :description %>
<%= f.text_field :description %>

<%= f.label :completed_at %>
<%= f.text_field :completed_at %>

<%= f.label :location %>
<%= f.text_field :location %>

<%= f.submit value: "Add Task"%>

<% end %>


<!-- <form  class = "create_task_form" action="/tasks" method="post" accept-charset="utf-8">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="name">Name</label>
  <input type="text" name="task[name]" value="" id="name">

  <label for="description">Description</label>
  <input type="text" name="task[description]" value="" id="description">

  <label for="completed_at">Completed at</label>
  <input type="text" name="task[completed_at]" value="" id="completed_at">

  <label for="location">Location</label>
  <input type="text" name="task[location]" value="" id="location"> -->


  <!-- <input type="submit" value="Submit">
</form> -->

<p id = "goback"> <%= link_to "Go back", tasks_path %> </p>
