<form action="/tasks" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">


    <h1>Add a Task!</h1>
    <%= form_for @task do |f| %>
        <%= f.label :name%>
        <%= f.text_field :name %>

        <%= f.label :description %>
        <%= f.text_area :description, size: "60x12" %>

        <%= f.submit %>
    <% end %>


</form>
