<h1>Create New Task</h1>

  <%= form_for @task do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_area :description, size: "60x12" %>

    <%= f.label :status %>
    <%= f.select :status, ["Haven't Started", "Getting There", "Done!"] %>

    <%= f.label :complete_by, "Complete Task on date:"%>
    <%= f.date_field :complete_by %>

    <%= f.submit "Add Task" %>

  <% end %>
