<!-- <h1>Add New Task</h1>

<form class="" action="/tasks" method="post" accept-charset="utf-8">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="title">Task</label>
  <input type="text" name="title" value="" id="title">

  <label for="priority">Priority</label>
  <input type="text" name="priority" value="" id="priority">

  <label for="completion">Completion Date</label>
  <input type="date" name="completion" value="" id="completion">

  <label for="description">Description</label>
  <input type="text" name="description" value="" id="description">

  <input type="submit" value="Add New Task">

</form> -->

<h1>Add New Task</h1>

<%= form_for @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :priority %>
  <%= f.text_field :priority %>

  <%= f.label :completion %>
  <%= f.text_field :completion %>

  <%= f.label :description %>
  <%= f.text_area :description, size: "60x12" %>

  <%= f.submit %>
<% end %>
