<h1>Here you can ass a new task to the list:</h1>

<%= form_for @task do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>
</br>
</br>
<%= f.label :description %>
<%= f.text_field :description %>
</br>
</br>
<%= f.label :completed_at %>
<%= f.text_field :completed_at %>
</br>
</br>
<%= f.submit %>

<% end %>

</br>
</br>
<%= link_to "Back to Task List", tasks_path %>
