<div class=header>
  <h1>Task Details</h1>
</div>

<div id=task_detail>
  <ul>
    <li><h3>Task Name:</h3> <%= @result_task.name %></li>
    <li><h3>Description:</h3> <%= @result_task.description %></li>
    <li><h3>Task Due Date:</h3> <%= @result_task.duedate.to_date %></li>

    <% if @result_task.completed %>
    <li><h3>Completed:</h3><%= @result_task.completed %></li>
    <li><h3>Completion Date:</h3><%= @result_task.completion_date.to_date %></li>
    <% end %>
</ul>
</div>

<div class=options>
  <h2><%= link_to "Home", tasks_path %></h2>
  <h2><%= link_to "Edit", edit_task_path(@result_task.id) %></h2>
  <h2><%= link_to "Delete", delete_task_path(@result_task.id), data: { confirm: "Are you sure you want to delete this task?" }, method: :delete %></h2>
</div>
