<h1>Task Details</h1>
<ul>
  <li>Task Name: <%= @result_task.name %></li>
  <li>Description: <%= @result_task.description %></li>
  <li>completion_date: <%= @result_task.completion_date %></li>
  <li>completed: <%= @result_task.completed %></li>
</ul>

<h4><%= link_to "Home", tasks_path %></h4>
