<h1><%= @result_task[:title] %></h1>

<img src="http://pipsum.com/200x100.jpg" />
<p>
  Due: <%= @result_task[:duedate] %>
</p>
<p>
  Priority: <%= @result_task[:priority] %>
</p>
<p><%= link_to "Previous Task", @prev_id %></p>
<p><%= link_to "Next Task", @next_id %></p>
