<h1>Tasks TO-DO</h1>
<img src="http://placebeyonce.com/450-300" />
<p>
  Task #<%= @result_task[:id] %>: <%= @result_task[:title] %> | <%= @result_task[:priority] %> priority | notes: <%= @result_task[:description] %>
  Completed?
  <% if @result_task != nil %>
     <%= @result_task[:completion] %>
  <% end %>   
</p>

<%= link_to "Home", tasks_path %>
