<h1>Task Show</h1>

<img src="http://cdn.oxfordpoetryelection.com/2016/08/19/post-it-yellow-png.png" width="300px" style="border:solid 1px"/>

<h2>Current Task:</h2>
<ul>
    <li>Name: <%= @result_task.name %></li>
    <li>Description: <%= @result_task.description %></li>
    <li>ID: <%= @result_task.id %></li>
    <li>Completion Date: <%= @result_task.completion_date %></li>
    <li>Completed: <%= @result_task.completed %></li>
</ul>
