<h1>tasks tasks tasks</h1>
<p><%= @selected_task.name %></p>
<p> <% if @selected_task.done? %>
        <%= "Nice - this task is done" %>
    <% end %>
</p>
<p>Description: <%= @selected_task.description %></p>
<p>Priority level: <%= @selected_task.priority %></p>
<p><%= link_to "task list", tasks_path %></p>
