<h1>
  <%= @this_task.id %>. <%= @this_task.name %>
</h1>
<p class="desc">
  <%= @this_task.desc %>
</p>

<p class="comp">
  <% if @this_task.complete != nil %>
    Completed on: <%= @this_task.complete.strftime("%b %d, %Y") %> at <%= @this_task.complete.strftime("%I:%M %p") %>
    <% end %>
</p>
<p class="incomp">
  <% if @this_task.complete == nil %>
  Not done yet! Get on it!
  <% end %>

  <%= link_to tasks_path do %>
    <%= image_tag "checklist.png", alt: "checklist" %>
  <% end %>
