<h1>Each Task</h1>

<section>
  <h2><%= @result_task.name%> :</h2>
  <p>
    <%=@result_task.description%>
  </p>
</section>

<p>
  <% if @result_task.image == nil %>
    <%= image_tag("to-do.jpg", alt:"task photo") %>
  <% else %>
    <%= image_tag(@result_task.image, alt:"task photo") %>
  <% end %>
</p>

<p>
  <%= link_to "Home", tasks_path %>
  <%= link_to "Edit Task", edit_task_path %>
</p>
