
<header>
  <h1>
    <img src="https://openclipart.org/download/253846/1467299975.svg">
    Todo: <%= @task[:name] %>
  </h1>
</header>

<main>
  <nav>
    <p><%= link_to "Home", tasks_path %></p>
    <p><%= link_to "Add New Task", new_task_path %></p>
  </nav>

  <section>
    <ul>
      <li>Description: <%= @task[:description].capitalize %></li>
      <li>Complete By:
        <%= @task[:complete_by].nil? ? "NA" : @task[:complete_by].strftime("%D - %l:%M %p") %>
      </li>
      <li>Completed At:
        <%= @task[:completed_at].nil? ? "NA" : @task[:completed_at].strftime("%D - %l:%M %p") %>
      </li>
    </ul>

    <p><%= link_to "Edit Task", edit_task_path %></p>

    <p><%= link_to "Delete Task",
            @task, method: :delete,
            data: { confirm: "You sure?" } %></p>
  </section>

</main>

<footer>
</footer>
