
<h2><%= @task[:name] %></h2>
<h3>Thing to do: <%= @task[:description] %></h3>
<h3>Tools to use: <%= @task[:tools] %></h3>
<h3>Completed_at: <%= @task[:completed_at] %></h3>

<ul class = "nav_links">
  <li><%= link_to "Back to task list", tasks_path %></li>
  <li><%= link_to "Edit", edit_task_path %></li>
  <li><%= link_to "Delete", task_path(@task.id), method: :delete,
   data: {confirm: "Are you sure to delete task #{@task.name}"} %>
 </li>
</ul>
