
<%date= @task[:deadline].to_s%>
<%date_class= @task[:deadline].class%>
<h3><%=@task[:name].capitalize%> by: <em>
<%=date_class == ActiveSupport::TimeWithZone ? (Date.parse(date).strftime("%m-%d-%Y")) : ( "Unknown Date Format")%></em></h3>
 This task is:<%=@task[:completed] == true ? ("complete") : ("incomplete") %>
 <p>
<%= link_to "Edit Task", edit_path%>
<%=link_to "Return Home", tasks_path%>
