<h1>Details</h1>

<section>
  <h2><%= @result_task.name%> :</h2>
  <p>
    <strong>Description:</strong> <%=@result_task.description%><br />
  </p>
  <p>
    <strong>Status:</strong <%=@result_task.status%><br />
  </p>
  <p>
    <strong>Complete by:</strong> <%=@result_task.complete_by%><br />
  </p>
</section>

<p>
  <% if @result_task.image == nil %>
    <%= image_tag("to-do.jpg", alt:"task photo") %>
  <% else %>
    <%= image_tag(@result_task.image, alt:"task photo") %>
  <% end %>
</p>

<p>
  <%= link_to "Home", tasks_path %>
  <%= link_to "Edit", edit_task_path %>
</p>
