
<header>
  <h1>
    <img src="https://openclipart.org/download/253846/1467299975.svg">
    Todo: <%= @task[:name] %>
  </h1>
</header>

<main>
  <nav>
    <p><%= link_to "Add New Task", new_task_path %></p>
    <p><%= link_to "Edit Task", edit_task_path %></p>
    <p>Delete Task</p>

  </nav>

  <section>
    <ul>
      <li>Description: <%= @task[:description].capitalize %></li>
      <li>Complete By:

        <%= @task[:complete_by].nil? ? "NA" : @task[:complete_by].strftime("%D - %l:%M %p") %>

      </li>
    </ul>

  </section>

</main>

<footer>
  <a href='./'>Home</a>
</footer>
