<h1>Task: <%= @task_result.name %></h1>
<p>
  <%= @task_result.description %>
</p>
<h3>Status: <%= @task_result.status %></h3>
<p>
  <h3>Completion Date: <%= @task_result.completion_date %></h3>
</p>
<h2><%= link_to "Home", tasks_index_path %></h2>
