<h1>Task List</h1>
<h2><%= @show_task[:name].upcase %></h2>
<img src="<%= @show_task[:img_url] %>" alt="<%=@show_task[:name]%> meme">
<h4>DESCRIPTION:</h4>
<h2><%= @show_task[:description] %></h2>
<h4>COMPLETION DATE:</h4>
<h2><%= @show_task[:completion_date] %></h2>
