<h1><%= @task[:name]%></h1>

    <p>Task: <%= @task[:name] %></p>
    <p>Description: <%= @task[:description] %></p>
    <p> Completed Time: <%= @task[:completed_at] %></p>

<%= link_to "Edit this task", edit_task_path %>    

<%= link_to "Back to task list", tasks_path %>
