<h1>Each Task</h1>

<p>
  Task number <%= params[:id] %> is
  <%= @result_task.name%>: <%=@result_task.description%>
</p>

<p>
  <img src="<%= @result_task.image %>" alt="task photo">
</p>

<p>
  <%= link_to "home", tasks_path %>
</p>
