<main>



<section>

<p> <% if @selected_task.done? %>
        Nice! You completed this task on <%= @selected_task.complete_date  %>
    <% end %>
</p>
<h3><%= @selected_task.name %> (<%= @selected_task.description %>)</h3>
<p>You need to complete this task by: <%= @selected_task.due_date %> </p>
<p>Priority level: <%= @selected_task.priority %></p>
<p><%= link_to "edit", edit_task_path(@selected_task.id) %></p>
<h5> <%= link_to "delete", delete_task_path(@selected_task.id), data: {confirm: "Are you sure you want to delete this task?"}, method: :delete %> </h5>

</section>

</main>
