
<main>
<h1><%= @task[:name]%></h1>

<div>
    <p>Task: <%= @task[:name] %></p>
    <p>Description: <%= @task[:description] %></p>
    <%= @task[:completed_at].nil? ? "Incomplete Task" : "Completed Time: #{@task[:completed_at]}" %>
  </div>


<%- if task[:completed_at].nil? %>
  <%= link_to "Mark as Complete", complete_task_path(task[:id]), :method => :patch %>
<%- else %>
  <%= link_to "Mark Incomplete", incomplete_task_path(task[:id]), :method => :patch %>
<%-end%>
<p><%= link_to "Edit this task", edit_task_path %></p>
<p><%= link_to 'Delete',task_path(params[:id]), data: {:confirm => 'You sure?'}, :method => :delete%></p>


<p><%= link_to "Back to task list", tasks_path %></p>
</main>
