<h1>Details</h1>

<section>
  <h2><%= @result_task.name%> :</h2>
  <p>
    <strong>Description:</strong> <%= @result_task.description %>
  </p>
  <p>
    <strong>Status:</strong> <%= @result_task.status %>
  </p>
  <p>
    <strong>Complete by:</strong> <%= @result_task.complete_by %>
  </p>
</section>

<p>
  <% if @result_task.image == nil %>
    <%= image_tag("to-do.jpg", alt:"task photo") %>
  <% else %>
    <%= image_tag(@result_task.image, alt:"task photo") %>
  <% end %>
</p>

<p>
  <% if @result_task.completion_date == nil %>
    <%= link_to "Edit", edit_task_path %>
  <% end %>

  <%= link_to "Delete", delete_task_path, method: :delete, data: { confirm: "Are you sure?"} %>
</p>

<p>
  <%= link_to "Home", tasks_path %>
</p>
