<h1><%= @task.title %></h1>

<img src="http://pipsum.com/200x100.jpg" />
<p>
  Due: <%= @task.duedate %>
</p>
<p>
  Priority: <%= @task.priority %>
</p>
<p>
  Completed: <%= @task.completed %>
</p>

<p>
  <%= @task.description %>
</p>
<ul class="nav">
  <li>
    <%= link_to "Edit Task", task_edit_path(@task[:id]) %>
  </li>
  <li>
    <%= link_to "Previous Task", @prev_id %>
  </li>
  <li>
    <%= link_to "Next Task", @next_id %>
  </li>
  <li>
    <%= link_to "All Tasks", tasks_path %>
  </li>
</ul>
