
<h1>Task name: <%= @task.name%></h1>

<h2>Description of task: <%= @task.description%></h2>

<h2>When to be completed: <%= @task.completed_at%></h2>

<%= link_to "Back to task list", tasks_path%>
</br>
</br>
<%= link_to "Modify this task", edit_task_path %>
</br>
</br>
