<body class="show">
  <h2><%= @task[:what] %></h2>
  <h3>Due: <%= @task[:when] %></h3>
  <h3>Description: <%= @task[:description] %></h3>

  <%= link_to "Back to task list", tasks_path %>
  <%= link_to "Edit task", edit_task_path %>
</body>
