<h1>Each Task</h1>

<p>
  Task number <%= params[:id] %> is
  <%= @result_task.name%>: <%=@result_task.description%>
</p>

<p>
  <% if @result_task.image == nil %>
    <%= image_tag("to-do.jpg", alt:"task photo") %>
  <% else %>
    <%= image_tag(@result_task.image, alt:"task photo") %>
  <% end %>
</p>

<p>
  <%= link_to "home", tasks_path %>
</p>
