<section id="task-details">
  <h2><%= @show_task[:name].capitalize %></h2>
  <section class="details-field">
    <h4>Name</h4>
    <h3><%= @show_task[:name] %></h3>
  </section>
  <section class="details-field">
    <h4>Description</h4>
    <h3><%= @show_task[:description] %></h3>
  </section>
  <section class="details-field">
    <h4>Completion Date</h4>
    <h3><%= @show_task[:completion_date] %></h3>
  </section>
  <section class="details-field">
    <h4>Status</h4>
    <% if @show_task[:complete] %>
      <h3 class="status">Complete</h3>
    <% else %>
      <h3 class="status">Incomplete</h3>
    <% end %>
  </section>
</section>

<%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>&ensp;Edit Task'.html_safe, edit_task_path, :class => "button" %>
