<h2><%= @task[:name] %></h2>
<h3>description: <%= @task[:description] %></h3>
<h4>time completed: <%= @task[:completion_date] %></h4>
<%= link_to "Edit This Task", edit_task_path %>
<%= link_to "Back to Yr Epic List of Stuff", tasks_path %>
