<main>


<nav>
  <h3>here is your task</h3>
  <ul>
    <li><%= link_to "all", tasks_path %></li>
    <li><%= link_to "new", tasks_new_path %></li>
  </ul>
</nav>

<section>

<p> <% if @selected_task.done? %>
        <%= "*Nice! This task is done*  " %>
    <% end %>
</p>
<h3><%= @selected_task.name %> (<%= @selected_task.description %>)</h3>
<p>You need to complete this task by: <%= @selected_task.due_date %> </p>
<p>Priority level: <%= @selected_task.priority %></p>

</section>

</main>
