<h1>Tasks List</h1>

<ul>
<% @tasks.each_with_index do |task| %>
    <li>
      <%= link_to task[:name] %>
    </li>
   <% end %>
 </ul>

<%target = 'world'%><br/>
<%= "hello + #{target}"%><br/>



 <%= 9 + 1%><br/>

<% @array.each do |n|%>
<%= n%>
<% end %>

<%= link_to('tasks completed' , { :action => 'completed'})%>
