<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Tasks Tasks Tasks", root_path %></h1>
    </header>
    <%= yield %>
    <footer>
      <p>
        &copy; <%= Time.current.year %> &bull; Addie Land
      </p>
    </footer>
  </body>
</html>
