<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1>To Do List</h1>
    <%= link_to tasks_path do %>
    <%= image_tag "checklist.png", alt: "checklist" %>
    <% end %>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <%= link_to "Home", tasks_path %>
  </footer>
</html>
