<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div id ="home_image">
      <%= link_to image_tag("Home2_goldLeaf_transp.png", alt: "Home", height: "40px"), welcome_path %>
    </div>
    <h1>Keeping track of what to do</h1>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
