<!DOCTYPE html>
<html>
  <head>
    <title>Taskfish</title>
    <%= favicon_link_tag('sockeye-salmon-favicon') %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
