<!DOCTYPE html>
<html>
  <head>
    <title>Task List</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    <header>
      <h1>most maginificent task list</h1>
    </header>
    <nav>
      <h3>Let's GSD!</h3>
      <ul>
        <li><%= link_to "all", tasks_path %></li>
        <li><%= link_to "new", tasks_new_path %></li>
      </ul>
    </nav>
    <%= yield %>

    <footer><p>&copy; <%= Time.current.year %> </p></footer>
  </body>
</html>
